#version=RHEL8
ignoredisk --only-use=vda
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
repo --name="AppStream" --baseurl=http://centos.mirror.iweb.ca/8/BaseOS/x86_64/os/../../../AppStream/x86_64/os/
# Use network installation
url --url="http://centos.mirror.iweb.ca/8/BaseOS/x86_64/os/" --proxy="http://192.168.100.1:3128"
# Keyboard layouts
keyboard --vckeymap=ca --xlayouts='ca'
# System language
lang en_CA.UTF-8

# Network information
network  --bootproto=dhcp --device=enp1s0 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$Kv77IIAfNVDUIgEl$FymkdPeEvd2SH1vFqKsiZALQYNvC3pimGwNbhatZ11dEyy1D7Ty6/U5RPWBjHRqUnQDi8C1wrlJBUsNbxtF7b1
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc --ntpservers=2.centos.pool.ntp.org,2.centos.pool.ntp.org,2.centos.pool.ntp.org,2.centos.pool.ntp.org
user --groups=wheel --name=brlav35 --password=$6$qzZ9Iot904PF8zwT$eqpvvqHQA8frxE42G4NhxWPY30/1HRsCajSHm4F/HLJBkFe4REwjXW5wDMptWR2EeJhKP4MhjoedJjhvM7bdv. --iscrypted --gecos="Bruno Lavoie"
# Disk partitioning information
part /boot --fstype="ext4" --ondisk=vda --size=1024
part pv.216 --fstype="lvmpv" --ondisk=vda --size=19455
volgroup main --pesize=4096 pv.216
logvol swap --fstype="swap" --size=2047 --name=swap --vgname=main
logvol / --fstype="xfs" --grow --size=1024 --name=root --vgname=main

%packages
@^minimal-environment
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
