#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=ca --xlayouts='ca'
# System language
lang en_CA.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.100.1 --ip=192.168.100.10 --nameserver=192.168.100.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$UZJysvJdzrF/T2pL$4ig5.l2alGtFF8UVHGnGJzCMQym.GMYpnx59UJW2tQUZ2OR0REHjB2TrvZl5nGVaiFqJXnyUhtmsoUDCH89aX/
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
user --groups=wheel --name=bl --password=$6$DbCQc2.8vl4zx/PP$CkEyF5NDyBYbYuZb3AEype4aUZD5b6WhnBbd2SEAWxhbc1vhPmOU4pTyUeFgTnMXlNPkRUgvOEC3vrmqu7uk7/ --iscrypted --gecos="Bruno Lavoie"
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part / --fstype="xfs" --ondisk=vda --size=6911
part /boot --fstype="xfs" --ondisk=vda --size=1024
part swap --fstype="swap" --ondisk=vda --size=256

%packages
@^minimal
@core
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
