text
install
skipx
firstboot --enable

cdrom
#url --url http://centos.mirror.iweb.ca/7/os/x86_64/

selinux --disabled

auth --enableshadow --passalgo=sha512
rootpw --iscrypted $6$jHb70CBqpshRWUCe$rhr3FkSm2H.5K8liFjNn3y.tbj9oJxL1WlMbYIpgOdH9.ZwfWZH37uTCgDzf3ogBVJKCLbo8HumOpfGXTf6wn/

#keyboard --vckeymap=ca --xlayouts='ca'
keyboard cf
lang en_CA.UTF-8

network --bootproto=static --device=eth0 --ip=192.168.100.20 --gateway=192.168.100.1  --nameserver=192.168.100.1 --netmask=255.255.255.0 --ipv6=auto --activate
network --hostname=localhost.localdomain

services --enabled="chronyd"
timezone America/New_York --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org

zerombr
bootloader --location=mbr --boot-drive=vda
clearpart --all --initlabel
ignoredisk --only-use=vda

part /boot --fstype="xfs" --ondisk=vda --size=1024
part swap --fstype="swap" --ondisk=vda --size=256
part / --fstype="xfs" --ondisk=vda --grow --size=1

%packages
@^minimal
@core
chrony
%end

#%packages
#@core
#@base
#%end

%addon com_redhat_kdump --disable --reserve-mb='auto'
%end

