[Desktop Entry]
Comment=
Terminal=false
Name=iPython QT Console - Anaconda 3
Exec=sh -c "source /usr/local/bin/env-anaconda3.sh && jupyter qtconsole"
Type=Application
Icon=/usr/lib/python2.7/site-packages/IPython/qt/console/resources/icon/IPythonConsole.svg
Categories=Development;IDE;
Name[en_CA.utf8]=iPython QT Console - Anaconda 3
