[Desktop Entry]
Comment=Jailer GUI
Terminal=false
Name=Jailer GUI
Exec=sh -c '$HOME/app/jailer/jailerGUI.sh'
Type=Application
#Icon=/opt/gitkraken/gitkraken.png
Categories=Development;IDE;Databases
Name[en_CA.utf8]=Jailer GUI
GenericName=Jailer GUI
