[Desktop Entry]
Comment=
Terminal=false
Name=Java Mission Control (Oracle JDK 8)
#Exec=/opt/jdk8/bin/jmc
Exec=sh -c "source env-oracle-jdk8.sh && /opt/jdk8/bin/jmc"
Type=Application
Icon=/opt/jdk8/lib/missioncontrol/icon.xpm
Categories=Development;IDE;Java
