[Desktop Entry]
Comment=
Terminal=false
Name=Java VisualVM (Oracle JDK8)
#Exec=/opt/jdk8/bin/jvisualvm
Exec=sh -c "source env-oracle-jdk8.sh && /opt/jdk8/bin/jvisualvm"
Type=Application
Icon=java-1.8.0
Categories=Development;IDE;Java
