[Desktop Entry]
Comment=
Terminal=false
Name=Eclipse
Exec=/home/bl/app/eclipse/eclipse
Type=Application
Icon=/home/bl/app/eclipse/icon.xpm
Categories=Development;IDE;
