[Desktop Entry]
Comment=Scala IDE
Terminal=false
Name=Scala IDE
#Exec=/home/bl/app/scala-ide/eclipse
Exec=sh -c "env-oracle-jdk8 && /home/bl/app/scala-ide/eclipse"
Type=Application
Icon=/home/bl/app/scala-ide/icon.xpm
Categories=Development;IDE;
Name[en_CA.utf8]=Scala IDE
